@import "tailwindcss";

@layer base {
  * {
    border-color: #e4e4e7;
  }
  body {
    background-color: #ffffff;
    color: #0a0a0a;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-sans), system-ui, sans-serif;
  }
}
